# created by virtualenv automatically
# Wykluczone foldery
venv/
env/
node_modules/

# Wykluczone pliki
*.pyc
*.pyo
__pycache__/

# Wykluczone pliki konfiguracyjne
.env
config.ini
settings_local.py

# Wykluczone pliki tymczasowe
*.log
*.tmp
*.bak
backup/mysql.sock