<!DOCTYPE html>
<html>
<head>
    <title>Lista użytkowników</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Lista użytkowników</h1>
    <table>
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
    {% if users %}
        {% for user in users %}
        <tr>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>
                <a href="/edit/{{ user[0] }}">Edytuj</a>
                <a href="/delete/{{ user[0] }}">Usuń</a>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">Brak użytkowników</td>
        </tr>
    {% endif %}
</tbody>
    </table>
    <a href="/add">Dodaj użytkownika</a>
</body>
</html>
